.circular-chart {
  display: block;

  width: 100%;
  height: inherit;

  user-select: none;
}

.time-pointer {
  cursor: pointer;

  outline: none;

  fill: white;
  stroke-width: 3px;
}

.chosen-time {
  font-size: 7px;
  font-weight: 600;
}
