.range-picker-container {
  height: 100%;
  user-select: none;
  touch-action: none;
  -webkit-touch-callout: none;
}

.circular-chart {
  display: block;

  width: 100%;
  height: inherit;
  user-select: none;
  -webkit-user-select: none;
}
